<div id="promo" class="centered">
  <h1>Hey, hey, hey!</h1>
  <img src="/images/rubyftw.png" alt="Ruby FTW"/>
  <h1>NEEDS <em>YOU!</em></h1>

  <div class="callout">
    <p>
      That's right friend, fellow enthusiast, ruby noobie, good-looking passerby,
      we're calling upon you to join us in spreading the goodness of ruby to
      anyone interested, but especially to you!
    </p>
  </div>
</div>

<div class="info">
  <h2>How do I get involved?</h2>
  <ul>
    <li><%= group_link "Join the group" %> and join in the discussions</li>
    <li>Help us find a good solid venue for regular meetings <span class="small">(training room? whiteboard? projector?)</span></li>
    <li>Volunteer to speak on a subject</li>
    <li>Announce impromptu meets at a nearby coffee shop or bar</li>
    <li>Pitch a subject you would like to learn about</li>
    <li>Follow announcements on <%= twitter_link %> and help spread the word about the group</li>
    <li>Fork this site on <%= github_link %> and help us shine things up</li>
  </ul>

  <h2>When do you meet?</h2>
  <p>
    We had been holding the regular meetings every 2nd Tuesday of the month
    starting around 6pm and ending around 8pm, meaning the next one would be in
    <%= days_till_next_meeting %> days on <%= next_meeting %>, but please check
    the <%= group_link "list" %> for details as the schedule and location are a
    bit up in the air at the moment.
  </p>

  <h2>Current members</h2>
  <%= member_list %>
  <p>Want to be on this list? Watch <%= github_link "the repo on github", :repo => 'rubyftw.org' %>!</p>

</div>
