<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= title %></title>
    <link href='/css/rubyftw.css' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arvo:bold,bolditalic' rel='stylesheet' type='text/css'>
    <%= render_partial 'analytics' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render_partial 'header' %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
        Powered by <%= github_link "Frank", :user => 'blahed', :repo => 'frank' %>.
      </div>
    </div>
  </body>
  <!-- Generated: <%= Time.now %> -->
</html>
